@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  /* Main content styles */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .intro {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .intro-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .intro-subtitle {
    font-size: rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .intro-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  

  
  .intro-button {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #514fc2;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .intro-button:hover {
    background-color: #052db0;
  }
  
  .intro-button:active {
    background-color: #00155b;
  }
  

  
  .featured {
    margin-top: 4rem;
  }
  
  .featured-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .featured-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .featured-item {
    flex: 1 1 300px;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  
  .featured-item:last-child {
    margin-right: 0;
  }
  
  .featured-link {
    display: block;
    text-align: center;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .featured-link:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .featured-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .featured-name {
    font-size: 1
  }
  .profile-photo {
    border-radius: 50%;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
  }
  